<%- include('./includes/head.ejs') %>
    <!-- main css -->
    <link rel="stylesheet" href="/css2/main.css">
    <link rel="stylesheet" href="/css2/community.css">

    <%- include('./includes/nav.ejs') %>

    <%- include('./includes/login-popup.ejs') %>

    <!-- Start Slider Area -->
    <div class="intro-area">
        <div class="main-overly"></div>
        <div class="intro-carousel">
            <div class="intro-content">
                <div class="slider-images">
                    <img src="img/slider/h1.jpg" alt="" class="imgs">
                </div>
                <div class="slider-content">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-content">
                <div class="slider-images">
                    <img src="img/slider/h2.jpg" alt="" class="imgs">
                </div>
                <div class="slider-content">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slider Area -->
    <!-- Start Count area -->
    
    <!-- End Count area -->
    <!-- Start Invest area -->
    <!-- End Invest area -->
    <!-- Start Support-service Area -->
    <div class="support-service-area fix area-padding-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h3>Why choose connection platform</h3>
                        <p>Help agencies to define their new business objectives and then create professional software.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="support-all">
                    <!-- Start About -->
                    <div class="col-md-6 col-sm-6 col-xs-12 zindex" onclick="location.href='/request-personer'">
                        <div class="support-services wow mainmidlf">
                            <a class="support-images"><i class="flaticon-023-management"></i></a>
                            <div class="support-content">
                                <h4>Request</h4>
                                <p>개인과 기업을 연결해드립니다!</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start About -->
                    <div class="col-md-6 col-sm-6 col-xs-12 zindex" onclick="location.href='/gallery'">
                        <div class="support-services mainmidr">
                            <a class="support-images" href="#"><i class="flaticon-036-security"></i></a>
                            <div class="support-content">
                                <h4>Gallery</h4>
                                <p>여러분의 포트폴리오를 작성하세요!</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-md-6 col-sm-6 col-xs-12 zindex"onclick="location.href='/community'">
                        <div class="support-services mainmidlf">
                            <a class="support-images" href="#"><i class="flaticon-003-approve"></i></a>
                            <div class="support-content">
                                <h4>Community</h4>
                                <p>사용자간 자유롭게 소통할 수 있습니다!</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-md-6 col-sm-6 col-xs-12 zindex" onclick="location.href='/news'">
                        <div class="support-services mainmidr">
                            <a class="support-images" href="#"><i class="flaticon-042-wallet"></i></a>
                            <div class="support-content">
                                <h4>News</h4>
                                <p>메타버스 관련 새로운 소식을 들어보세요!!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Support-service Area -->
    <!-- Start Self-area -->
    
    <!-- End Self-area -->
    <!-- Start Work proses Area -->
   
    <!-- End Work proses Area -->
    <!--Start payment-history area -->
    
    <!-- End FAQ area -->

    <%- include('./includes/footer.ejs') %>

    <%- include('./includes/end.ejs') %>
<!-- Mirrored from rockstheme.com/rocks/aievari-live/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Mar 2020 08:27:46 GMT -->