<%- include('./includes/head.ejs') %>
    <!-- main css -->
    <link rel="stylesheet" href="/css2/main.css">
    <link rel="stylesheet" href="/css2/community.css">

    <%- include('./includes/nav.ejs') %>
    
    <%- include('./includes/login-popup.ejs') %>

    <div class="blog-area fix page-padding">
        <div class="cover">
            <div class="container">
                <h3>Developing...</h3>
            </div>
        </div>
    </div>

    <%- include('./includes/footer.ejs') %>

    <%- include('./includes/end.ejs') %>